<a href="/register-patient" class="<%= currentPage === 'register-patient' ? 'active' : ''%>">
    Cadastrar Paciente
</a>
<a href="/register-consultation" class="<%= currentPage === 'register-consultation' ? 'active' : ''%>">
    Cadastrar Consulta
</a>