<a href="/consultation-queue" class="<%= currentPage === 'consultation-queue' ? 'active' : ''%>">
    Fila de Consultas
</a>
<a href="/visualization" class="<%= currentPage === 'visualization' ? 'active' : ''%>">
    Visualização
</a>