
<header id="header" class="main-header navbar border shadow" style="z-index: 1; background-color: white;">
    <a class="navbar-brand logo" href="/">
        <b>
            <span style="color: #acccc7;">HEALTH</span>
            <span style="color: #70969e;">TRACK</span>
        </b>
    </a>

    <div class="dropdown" style="float:right">
        <button class="btn dropdown-toggle dropbtn" type="button">
            <div class="circle" style="padding-top: 3px;">
                <span class="initials"><%= initials %></span>
            </div>
        </button>
        <div class="dropdown-content border" style="right: 0">
            <a href="/configurations">
                <img class="nav-icon" src="/images/config.png">
                Configurações
            </a>
            <div class="border-top"></div>
            <a href="/logout">
                <img class="nav-icon" src="/images/logout.png">
                Sair
            </a>
        </div>
    </div>
</header>