
<header id="header" class="main-header navbar border shadow">
    <a class="navbar-brand logo" href="/">
        <b>
            <span class="color-light-green">HEALTH</span>
            <span class="color-dark-green">TRACK</span>
        </b>
    </a>

    <% if (typeof initials !== 'undefined') { %>
        <div class="dropdown float-right">
            <button class="btn dropdown-toggle dropbtn" type="button">
                <span class="circle padding-top-3">
                    <span class="initials"><%= initials %></span>
                </span>
            </button>
            <div class="dropdown-content border right-0">
                <a href="/configurations">
                    <img class="nav-icon" src="/images/config.png" alt="Ícone de configurações">
                    Configurações
                </a>
                <div class="border-top"></div>
                <a href="/logout" onclick="clearLocalStorage()">
                    <img class="nav-icon" src="/images/logout.png" alt="Ícone de logout">
                    Sair
                </a>
            </div>
        </div>
    <% } else { %>
        

    <% } %>

</header>