<!DOCTYPE html>

<html lang="pt-br" >

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Configurações</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <%- include('partials/flash-container'); %>

        <nav class="nav-primary">
            <% const currentPage = 'configurations'; %>
            <%- include('partials/config-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <p>
                <a> Alterar o tema: </a><br>
                <button onclick="swapTheme('styles.css')">Light Mode</button>
                <button onclick="swapTheme('dark_theme.css')">Dark Mode</button>
            </p>

            <p>
                <a id="valueFontSize"> Aumentar ou diminuir a Fonte: </a><br>
                <button onclick="increaseFontSize()">A+</button>
                <button onclick="decreaseFontSize()">A-</button>
            </p>
        </div>

    </body>

</html>