<!DOCTYPE html>

<!-- PERFIL -->

<html lang="pt-br" >

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Configurações</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <div class="flash-container">
            <div class="flash-message"></div>
        </div>

        <nav class="nav-primary">
            <!-- CONTEÚDO DA BARRA LATERAL -->
            <% const currentPage = 'configurations'; %>
            <%- include('partials/config-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <!-- CONTEÚDO DA PÁGINA -->
            <p>
                <button class="colormode" onclick="swapTheme('styles.css')">Light Mode</button>
                <button class="colormode" onclick="swapTheme('dark_theme.css')">Dark Mode</button>
            </p>
        </div>

    </body>

</html>