<!DOCTYPE html>

<!-- PERFIL -->

<html lang="pt-br">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: {title}</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <div class="flash-container">
            <div class="flash-message"></div>
        </div>

        <nav class="nav-primary">
            <!-- CONTEÚDO DA BARRA LATERAL -->
            <% const currentPage = {page}; %>
            <%- include('partials/{profile}-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <!-- CONTEÚDO DA PÁGINA -->
        </div>

    </body>

</html>