<!DOCTYPE html>

<!-- DOCTOR -->

<html lang="en">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Fila de Consultas</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <nav class="nav-primary">
            <% const currentPage = 'record-queue'; %>
            <%- include('partials/doctor-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b style="font-size: 30px;">Fila de Consultas</b>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-start col-3">ID da Consulta</th>
                        <th scope="col" class="text-start">Nome do Paciente</th>
                        <th scope="col" class="text-end col-1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="risk1">
                        <th scope="row" class="text-start">1</th>
                        <td class="text-start">Mark</td>
                        <td class="text-center" style="display: flex;">
                            <div class="icon-container">
                                <a href="/edit-record-doctor">
                                    <img class="action-icon" src="/images/editar.png">
                                </a>
                            </div>
                            <div class="icon-container">
                                <a href="/remove-record">
                                    <img class="action-icon" src="/images/remover.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="risk2">
                        <th scope="row" class="text-start">2</th>
                        <td class="text-start">Jacob</td>
                        <td class="text-center" style="display: flex;">
                            <div class="icon-container">
                                <a href="/edit-record">
                                    <img class="action-icon" src="/images/editar.png">
                                </a>
                            </div>
                            <div class="icon-container">
                                <a href="/remove-record">
                                    <img class="action-icon" src="/images/remover.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="risk3">
                        <th scope="row" class="text-start">3</th>
                        <td class="text-start">Dave</td>
                        <td class="text-center" style="display: flex;">
                            <div class="icon-container">
                                <a href="/edit-record">
                                    <img class="action-icon" src="/images/editar.png">
                                </a>
                            </div>
                            <div class="icon-container">
                                <a href="/remove-record">
                                    <img class="action-icon" src="/images/remover.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="risk4">
                        <th scope="row" class="text-start">4</th>
                        <td class="text-start">Leo</td>
                        <td class="text-center" style="display: flex;">
                            <div class="icon-container">
                                <a href="/edit-record">
                                    <img class="action-icon" src="/images/editar.png">
                                </a>
                            </div>
                            <div class="icon-container">
                                <a href="/remove-record">
                                    <img class="action-icon" src="/images/remover.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="risk5">
                        <th scope="row" class="text-start">5</th>
                        <td class="text-start">Alex</td>
                        <td class="text-center" style="display: flex;">
                            <div class="icon-container">
                                <a href="/edit-record">
                                    <img class="action-icon" src="/images/editar.png">
                                </a>
                            </div>
                            <div class="icon-container">
                                <a href="/remove-record">
                                    <img class="action-icon" src="/images/remover.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>