<!DOCTYPE html>

<!-- ATTENDANT -->

<html lang="pt-br">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Cadastrar Paciente</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <nav class="nav-primary">
            <% const currentPage = 'register-patient'; %>
            <%- include('partials/attendant-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b class="main-title">Cadastrar Paciente</b>
            <form action="/register-patient" method="post">
                <div class="form-group form-content row">
                    <div class="col">
                        <label for="inputName">Nome Completo <span class="required-color">*</span></label>
                        <input autocomplete="off" type="text" class="form-control" name="inputName" placeholder="Digite aqui..." required>
                    </div>
                    <div class="col">
                        <label for="inputCPF">CPF <span class="required-color">*</span></label>
                        <input autocomplete="off" type="text" class="form-control" name="inputCPF" placeholder="Digite aqui..." required>
                    </div>
                </div>

                <div class="form-group form-content row">
                    <div class="col">
                        <label for="inputEmail">E-mail</label>
                        <input autocomplete="off" type="email" class="form-control" name="inputEmail" placeholder="Digite aqui...">
                    </div>
                    <div class="col">
                        <label for="inputBirthday">Data de Nascimento</label>
                        <input autocomplete="off" type="date" class="form-control" name="inputBirthday">
                    </div>
                </div>

                <div class="form-group form-content row">
                    <div class="col">
                        <label for="inputAddress">Endereço</label>
                        <input autocomplete="off" type="text" class="form-control" name="inputAddress" placeholder="Digite aqui...">
                    </div>
                    <div class="col">
                        <label for="inputCellphone">Celular (com DDD)</label>
                        <input autocomplete="off" type="tel" pattern="([0-9]{2})[0-9]{5}[0-9]{4}" class="form-control" name="inputPhone" placeholder="Digite aqui...">
                    </div>
                </div>

                <div class="form-button">
                    <button type="submit" class="btn btn-primary background-dark-green">Cadastrar</button>
                </div>
              </form>
        </div>

    </body>

</html>