<!DOCTYPE html>

<!-- ADMIN -->

<html lang="en">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Registro</title>
    </head>

    <body>

        <%- include('partials/header'); %>

        <div class="main-content">
            <!-- CONTEÚDO DA PÁGINA -->
        </div>

    </body>

</html>