<!DOCTYPE html>

<!-- ADMIN -->

<html lang="en">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Registrar Usuário</title>
    </head>

    <body>

        <%- include('partials/header'); %>

        <nav class="nav-primary">
            <!-- CONTEÚDO DA BARRA LATERAL -->
            <% const currentPage = 'register'; %>
            <%- include('partials/admin-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <!-- CONTEÚDO DA PÁGINA -->
        </div>

    </body>

</html>