<!DOCTYPE html>

<!-- ADMIN -->

<html lang="en">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Remover Paciente</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <nav class="nav-primary">
            <% const currentPage = 'remove-patient'; %>
            <%- include('partials/admin-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b class="main-title">Remover Paciente</b>
            <form>

                <div class="form-group form-content row">
                    <div class="col">
                        <label for="inputCPF">CPF <span class="required-color">*</span></label>
                        <input type="text" class="form-control" id="inputCPF" placeholder="Digite aqui..." required>
                    </div>

                    <div class="col">
                        <label for="inputAdminPassword">Senha do Administrador <span class="required-color">*</span></label>
                        <input type="password" class="form-control" id="inputAdminPassword" placeholder="Digite aqui..." required>
                    </div>
                </div>

                <div class="form-button">
                    <button type="submit" class="btn btn-primary btn-dark-green">Buscar</button>
                </div>
                
                <!-- RESPOSTA DEVE SER O NOME DA PESSOA, PEDIR CONFIRMAÇÃO DO USUÁRIO E CADASTRAR SE FOR CONFIRMADO -->
            </form>
        </div>

    </body>

</html>