html {
    --background-color: white;
}
html[data-theme="dark"]{
    --background-color: #1a1a1a;
}

body {
    background-color: var(--background-color);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: #a5b6c7;
    border-radius: 50%;
    display: inline-block;
}

.initials {
    font-family: 'Barlow';
    font-size: 20px;
    color: white;
}

.logo {
    font-family: 'Barlow';
    font-size: 34px;
    padding-left: 20px;
}

.logo-login {
    font-family: 'Barlow';
    font-size: 3vw;
}

.nav-icon {
    max-width: 10%;
    height: auto;
}

.divider {
    height: 1px;
    background-color: #2a3b4c;
    border: none;
}

.nav-primary {
    background-color: #70969e;
    /* background-color: #333333; */
    height: 100%;
    position: absolute;
    left: 0;
    top: auto;
    width: 15%;
    z-index: 0;
}

.nav-primary a {
    display: block;
    padding: 15px;
    color: #f1f1f1;
    text-decoration: none;
}

.nav-primary a.active {
    background-color: #acccc7;
    /* background-color: #4c4c4c; */
    color: white;
}

.nav-primary a:hover {
    background-color: #acccc7;
}

.main-content {
    padding-left: 20%;
    padding-top: 2%;
    width: 90%;
}

.main-header{
    /* background-color: #1a1a1a; */
    background-color: white;
    z-index: 1;
   padding:15px;
}

.form-content {
    padding-bottom: 10px;
}

.form-button {
    padding-top: 20px;
}

.action-icon {
    max-width: 70%;
    height: auto;
}

.icon-container {
    width: 30px;
    height: auto;
    display: flex;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-item {
    display: inline-block;
    vertical-align: middle;
}

.main-title {
    font-size: 30px;
}

.required-color {
    color: red;
}

.no-resize {
    resize: none;
}

.right-0 {
    right: 0;
}

.padding-top-3 {
    padding-top: 3px;
}

.float-right {
    float:right;
}

.background-light-green {
    background-color: #acccc7;
}

.background-dark-green {
    background-color: #70969e;
}

.color-light-green {
    color: #acccc7;
}

.color-dark-green {
    color: #70969e;
}

.risk1 {
    display: inline-block;
    background-color: rgba(201,30,38,0.7);
    width: 40px;
    height: auto;
    border: #1a1a1a 1px solid;
    border-radius: 15%;
}

.risk2 {
    display: inline-block;
    background-color: rgba(243,107,33,0.7);
    width: 40px;
    height: auto;
    border: #1a1a1a 1px solid;
    border-radius: 15%;
}

.risk3 {
    display: inline-block;
    background-color: rgba(225,208,30,0.7);
    width: 40px;
    height: auto;
    border: #1a1a1a 1px solid;
    border-radius: 15%;
}

.risk4 {
    display: inline-block;
    background-color: rgba(1,134,69,0.7);
    width: 40px;
    height: auto;
    border: #1a1a1a 1px solid;
    border-radius: 15%;
}

.risk5 {
    display: inline-block;
    background-color: rgba(0,148,218,0.7);
    width: 40px;
    height: auto;
    border: #1a1a1a 1px solid;
    border-radius: 15%;
}

.wrapper {
    height: 100%;
    background-color: #acccc7;
}

.login-box {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo-container {
    height: 30%;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.btn-dark-green {
    background-color: #70969e;
}