<a id="valueFontSize" href="/register-user" class="<%= currentPage === 'register-user' ? 'active' : ''%>">
    Cadastrar Usuário
</a>
<a href="/remove-user" class="<%= currentPage === 'remove-user' ? 'active' : ''%>">
    Remover Usuário
</a>
<a href="/remove-patient" class="<%= currentPage === 'remove-patient' ? 'active' : ''%>">
    Remover Paciente
</a>