<a id="valueFontSize" href="/register-patient" class="<%= currentPage === 'register-patient' ? 'active' : ''%>">
    Cadastrar Paciente
</a>
<a href="/register-record" class="<%= currentPage === 'register-record' ? 'active' : ''%>">
    Cadastrar Consulta
</a>