body {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dropdown {
    background-color: #333333;
    border-radius: 8px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333333;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    cursor: pointer;
}

.form-button :hover {
    background-color: #4c4c4c;
}

.fontButton :hover {
    background-color: #4c4c4c;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 10%;
    padding-bottom: 0.4vw;
}

.main-header{
    background-color: #1a1a1a;
    z-index: 1;
    padding:15px;
}

.modal-content {
    background-color: #1a1a1a;
    color: #ffffff;
}

.modal-header {
    background-color: #1a1a1a;
    color: #ffffff;
}

.modal-body {
    background-color: #1a1a1a;
    color: #ffffff;
}

.modal-footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

.modal-footer :hover {
    background-color: #4c4c4c;
}

.nav-primary {
    background-color: #333333;
    height: 100%;
    position: absolute;
    left: 0;
    top: auto;
    width: 15%;
    z-index: 0;
}

.nav-primary a.active {
    background-color: #4c4c4c;
    color: #ffffff;
}

.nav-primary a:hover {
    background-color: #4c4c4c;
}

.table-hover tbody tr:hover {
    background-color: #ffffff;
}

.text-start {
color: #ffffff;
}

.text-center {
color: #ffffff;
}

td{
color: #ffffff;
}

.theme img {
    background-color: #f1f1f1;
    border-radius: 50%;
}
