.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    cursor: pointer;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header{
    background-color: #ffffff;
    z-index: 1;
   padding:15px;
}

.nav-primary {
    background-color: #70969e;
    height: 100%;
    position: absolute;
    left: 0;
    top: auto;
    width: 15%;
    z-index: 0;
}

.nav-primary a.active {
    background-color: #acccc7;
    color: #ffffff;
}

.nav-primary a:hover {
    background-color: #acccc7;
}