<!DOCTYPE html>

<html lang="pt-br" >

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Configurações</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <%- include('partials/flash-container'); %>

        <nav class="nav-primary">
            <% const currentPage = 'configurations'; %>
            <%- include('partials/config-sidebar', {currentPage}); %>
        </nav>

      <div class="main-content">
        <b class="main-title">Configurações</b>
        
      </div>
              
    </body>

</html>