<!DOCTYPE html>

<html lang="pt-br" >

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Configurações</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <%- include('partials/flash-container'); %>

        <nav class="nav-primary">
            <% const currentPage = 'configurations'; %>
            <%- include('partials/config-sidebar', {currentPage}); %>
        </nav>

      <div class="main-content">
        <b class="main-title">Configurações</b>
        <div>
          <a id="valueFontSize"> Alterar o tema: </a><br>
          <button onclick="swapTheme('light_theme.css')">Light Mode</button>
          <button onclick="swapTheme('dark_theme.css')">Dark Mode</button>
        </div>

        <br>
        
        <div>
          <button id="buttonTheme" class="btn btn-primary" data-toggle="button" autocomplete="off">
            Única alternância
          </button>
        </div>
        
      </div>
              
    </body>

</html>