<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <%- include('partials/head'); %>
        <title> HealthTrack: Cadastrar Consulta</title>
    </head>

    <body>

        <%- include('partials/header', {initials}); %>

        <%- include('partials/flash-container'); %>

        <nav class="nav-primary">
            <% const currentPage = 'register-record'; %>
            <%- include('partials/attendant-sidebar', {currentPage}); %>
        </nav>

        <div class="main-content">
            <b class="main-title">Cadastrar Consulta</b>
            <form action="/register-record" method="post">

                <div class="form-group form-content row">
                    <div class="col">
                        <label for="inputCPF">CPF <span class="required-color">*</span></label>
                        <input autocomplete="off" type="text" class="form-control" name="inputCPF" placeholder="Digite aqui..." required>
                    </div>
                </div>

                <div class="form-button">
                    <button type="submit" class="btn btn-primary btn-dark-green">Cadastrar</button>
                </div>

            </form>
        </div>

    </body>

</html>